<!DOCTYPE html>
<html>
<body>
    <h2>Таблицы в базе данных</h2>
    <div><a href="/Home/ShowUsers">Пользователи</a> | <a href="/Home/ShowPurchases">Заказы</a></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>