@model project_for_space_app.Models.User

<h2>Редактирование пользователя</h2>
<form asp-action="EditUser" asp-controller="home" asp-route-id="@Model.Id">
    <p>
        <label asp-for="FullName">Имя</label><br />
        <input type="text" asp-for="FullName" />
    </p>
    <p>
        <label asp-for="BornDate">Дата рождения</label><br />
        <input type="date" asp-for="BornDate" />
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>