@model IEnumerable<project_for_space_app.Models.User>

<html>
<body>
    <form>
    <h2>Таблица пользователей</h2>
        <p>
            <button asp-controller="Home" asp-action="CreateUser">Добавить пользователя</button>
        </p>
        <table class="table">
        <tr><th>Имя</th><th>Дата рождения</th></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.BornDate.ToShortDateString()</td>
                <td>
                    <button asp-controller="Home" asp-action="EditUser"  asp-route-id="@item.Id">Изменить</button>
                </td>
                <td>
                    <button asp-controller="Home" asp-action="DeleteUser" asp-route-id="@item.Id">Удалить</button>
                </td>
            </tr>
        }
    </table>
    </form>
</body>
</html>